
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%; /* Adjust the width as needed */
  }
.like{
    color:  pink;
}
.dontLike{
    color:   gray;
}
